<!DOCTYPE html>
<html>
  <head>
    <title>Blogman</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application',
      'https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300&display=swap',
      media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield :nav %>
    <div class="main_container">
      <%= yield %>
    </div>
  </body>
</html>
